# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Built files
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Coverage directory
coverage/

# IDE and editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.bak

# Mac files
.DS_Store

# Miscellaneous
*.tmp
*.bak
*.cache
*.csv

# Jest coverage
coverage/

# Yarn integrity file
.yarn-integrity
